{% extends 'base.html'%}

{% block contents %}
<!-- start section header -->
<div id="header" class="home">

    <div class="container">
      <div class="header-content">
        <h1><span class="typed">Word counter</span></h1>
        <p>멋쟁이 사자처럼 7기 운영진 조경록</p>

        <ul class="list-unstyled list-social">
          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End section header -->
{% endblock %}